<h1>{{> page/title}}</h1>

{{> page/nav}}

<h3> Benvenuto nel nostro sistema di monitoraggio delle cordinate GPS. Per iniziare premi su "Coordinate GPS" e divertiti. </h3>

<div class="alCentro">
<img src="Logo.jpg" width="300" height="300">
</div>

<div class="inFondo">
<p class="pp"> Per ulteriori informazioni non esitare a contattarci! </p>

<p class="pp"> Marco Silvestri - marco.silvestri10@studio.unibo.it </p>
<p class="pp"> Irene Basaglia - irene.basaglia@studio.unibo.it </p>

<p class="pp"> Progetto sviluppato per il corso di Sistemi Context-Aware della magistrale di Informatica (curriculum Informatica per il management) </p>
<p class="pp"> Alma Mater Studiorum - Università di Bologna </p>
</div>