<!doctype html>
<html>
<head>
<style> 
.pp{
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
}
.pp1{
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 13px;
}
h1, h2, h3{
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
}
ul{
  color: black;
}
a{
  color: gray;
}
input[type=button]{
  background-color: white;
  font-weight: bold;
  color: black;
  padding: 4px 8px;
  text-decoration: none;
  color: #4f4f4f;
  margin: 2px 2px;
  cursor: pointer;
  border: 2px solid #c1c1c1;
  border-radius: 8px;
}
.inFondo {
  position: absolute;
  left:8%;
  bottom:0;
}
.alCentro {
  position: absolute;
  top: 27%;
  left:40%;
}
.button1 {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 2px solid #c1c1c1;
  border-radius: 8px;
  margin: 2px 2px;
  color: #4f4f4f;
  padding: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
  background-color: white;
  color: black;
  border: 2px solid #000000;
  font-weight: bold;
  border-radius: 8px;
  color: #4f4f4f;
  margin: 2px 2px;
  width: 200px;
  height: 25px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1:hover {background-color: #c1c1c1;}

</style>
    <meta charset="utf-8" />
    <title>{{> page/title}}</title>
</head>
<body>

    {{{body}}}

</body>
</html>
