<hr color="#4f4f4f" size="3" >
<div align ="center">
<a href="/"> <button class="button2">Home</button></a>
<a href="/coordinateGPS"> <button class="button2">CoordinateGPS</button></a>
</div>
<hr color="#4f4f4f" size="3" >